// colores

$blanco: #fff;

// colores botones
$celeste: #80deea;
$rosado: #e57373;

// fuentes

$fuente: FuturaLT;

//font-size
$small: 0.5rem;
$medium: 1rem;
$large: 1.25rem;
$x-large: 1.5rem;
$xx-large: 1.75rem;

